@font-face {
  font-family: 'TestSohne';
  src: url('../../public/fonts/TestSohne-Kraftig-BF663d89cd37e26.otf')
    format('opentype');
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  font-family: 'TestSohne', sans-serif;
  background-color: #619cc7;
}

.about-image {
  width: 25%;
  margin: 20px 0;
  align-self: center;
}

.about h1 {
  margin: 0;
  font-family: 'TestSohne', sans-serif;
  text-align: center;
  color: white;
  font-size: 60px;
}

.about h3 {
  margin: 0;
  font-family: 'TestSohne', sans-serif;
  text-align: center;
  color: white;
  font-size: 20px;
}
