@font-face {
  font-family: 'TestSohne';
  src: url('../../public/fonts/TestSohne-Kraftig-BF663d89cd37e26.otf')
    format('opentype');
}

.about {
  min-height: 300px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'TestSohne', sans-serif;
  background-color: white;
  background-image: url('../../public/formal\ flick.png');
  background-size: 75%;
  background-position: center;
  background-blend-mode: multiply;
  background-repeat: no-repeat;
}

.about-image {
  width: 25%;
  margin: 20px 0;
  align-self: center;
}

.about h1 {
  margin: 0;
  font-family: 'TestSohne', sans-serif;
  text-align: center;
  color: white;
  font-size: 60px;
}

.about h3 {
  margin: 0;
  font-family: 'TestSohne', sans-serif;
  text-align: center;
  color: white;
  font-size: 20px;
}
