@font-face {
  font-family: 'TestSohne';
  src: url('../../public/fonts/TestSohne-Kraftig-BF663d89cd37e26.otf')
    format('opentype');
}

footer {
  background-color: #619cc7;
  color: white;
  padding: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'TestSohne', sans-serif;
}

.main-logo-footer-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-logo-footer {
  max-width: 50%;
}

h1 {
  margin: 0;
  font-family: 'TestSohne', sans-serif;
}

.copy-text {
  font-size: 1.5vw;
}

.god {
  font-size: 0.75vw;
  color: lightgray;
}

.footer-nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 20px;
  white-space: nowrap;
}

.footer-nav a {
  color: #0d1433;
  text-decoration: none;
  font-size: 2vw;
  font-family: 'TestSohne', sans-serif;
  white-space: nowrap;
  padding: 5px 10px;
  border: 1px solid white;
  border-radius: 5px;
  background-color: white;
}
