@font-face {
  font-family: 'TestSohne';
  src: url('../../public/fonts/TestSohne-Kraftig-BF663d89cd37e26.otf')
    format('opentype');
}

header {
  background-color: #0d1433;
  color: white;
  padding: 2vw;
  height: 15vw;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'TestSohne', sans-serif;
}

.main-logo-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

.main-logo {
  max-width: 50%;
}

h1 {
  margin: 0;
  font-family: 'TestSohne', sans-serif;
}

.header-nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 1.5vw;
  white-space: nowrap;
}

.header-link {
  color: white;
  text-decoration: none;
  font-size: 2vw;
  font-family: 'TestSohne', sans-serif;
  white-space: nowrap;
  position: relative;
}

.header-nav a::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  display: block;
  margin-top: 5px;
  right: 0;
  background: white;
  transition: width 0.3s ease;
}

.header-nav a:hover::after {
  width: 100%;
  left: 0;
  background: white;
}
